/* ckeditor-styles.css */
.ck-content {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-size: 17px;
    color: #2c2c2c;
  }
  
  .ck-content h1, .ck-content h2, .ck-content h3 {
    font-weight: 700;
    margin-bottom: 20px;
    color: #1a1a1a;
  }
  
  .ck-content p {
    margin: 0 0 25px;
  }
  
  .ck-content ul, .ck-content ol {
    margin: 25px 0;
    padding-left: 35px;
    list-style: none;
    counter-reset: item;
  }
  
  .ck-content ul li::before {
    content: '\2022';
    color: #007bff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .ck-content ol li {
    counter-increment: item;
  }
  
  .ck-content ol li::before {
    content: counter(item) '.';
    color: #007bff;
    font-weight: 600;
    margin-right: 10px;
  }
  
  .ck-content ul li, .ck-content ol li {
    margin-bottom: 12px;
    padding-left: 5px;
  }
  
  .ck-content blockquote {
    margin: 30px 0;
    padding: 15px 30px;
    border-left: 5px solid #007bff;
    color: #444;
    font-style: italic;
    background: #f9f9f9;
    border-radius: 5px;
  }
  
  .ck-content a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .ck-content a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .ck-content strong{
    font-weight: 700;
    color: #1a1a1a;
  }
  
  .ck-content figure.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .ck-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #ddd;
    table-layout: fixed;
  }
  
  .ck-content th, .ck-content td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: middle;
    word-wrap: break-word;
  }
  
  .ck-content th {
    background-color: #007bff;
    color: white;
    font-weight: 600;
  }
  
  .ck-content tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .ck-content tr:hover {
    background-color: #f1f1f1;
  }
  

  @media screen and (max-width: 768px) {
    .ck-content table {
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  
    .ck-content th, .ck-content td {
      padding: 10px;
      font-size: 12px;
    }
  }
  